/*top-section + navigation styles*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.wrapper:after {
    content: '';
    height: 173px;
    display: block;
}

button.search-button {
    display: flex;
    align-items: center;
}

.wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    background: #fff;
}

.container {
    background: #FFF;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}

section {
    margin: 0 auto;
    background: #fff;
}

.head-back {
    background-image: url(../images/older-band-lounging.jpg);
    background-size: cover;
    -moz-background-size: cover;
    background-position: center;
    height: 610px;
    padding-top: 93px;
    position: relative;
    z-index: 1;
}

.head-back:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    content: '';
}
.head-back > * {
    position: relative;
    z-index: 2;
}

footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.8);
}

.navbar {
    padding: 23px 0 23px;
    top: 0;
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
}

.navbar-wrap {
    display: flex;
    align-items: center;
}
.navbar-wrap .site-btn {
    margin: 0;
}
.storyboards-logo {
    width: 170px;
}

.storyboards-logo img {
    max-width: 100%;
}

.site-btn {
    padding: 10px 18px 9px 21px;
    border: 1.5px solid #FFFFFF;
    border-radius: 50px;
    text-align: center;
    margin-right: 30px;
    width: 106px;
    height: 40px;
    margin-top: -3px;
    margin-left: 40px;
}

.sign-up {
    height: 18px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.main-header {
    padding: 0 20px;
    position: relative;
    height: 57px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 57px;
    margin: 117px auto 84px;
    text-align: center;
}

.search-button {
    border-radius: 50px;
    background-color: #007A77;
    cursor: pointer;
    display: flex;
    padding: 23px 30px 23px 30px;
    height: 66px;
    width: 168px;
}

.search-button span {
    color: #FFFEFE;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 21px;
    text-align: right;
    margin-left: 18px;
}

.top-search-bar .search-button span {
    color: #FFFEFE;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 23px;
    margin-left: 14px;
    text-align: right;
}

.top-search-bar .search-button img {
    margin-top: 2px;
}

.search-button, .site-btn, .bottom-button, .contactUsBtn, .send-button {
    cursor: pointer;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.search-button:before, .site-btn:before, .bottom-button:before, .contactUsBtn:before, .send-button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.contactUsBtn:before {
    border-radius: 8px 8px 0 0;
}

.search-button:hover, .search-button:focus, .search-button:active,
.site-btn:hover, .site-btn:focus, .site-btn:active,
.bottom-button:hover, .bottom-button:focus, .bottom-button:active,
.contactUsBtn:hover, .contactUsBtn:focus, .contactUsBtn:active,
.send-button:hover, .send-button:focus, .send-button:active {
    color: white;
}

.search-button:hover:before, .search-button:focus:before, .search-button:active:before,
.site-btn:hover:before, .site-btn:focus:before, .site-btn:active:before,
.bottom-button:hover:before, .bottom-button:focus:before, .bottom-button:active:before,
.contactUsBtn:hover:before, .contactUsBtn:focus:before, .contactUsBtn:active:before,
.send-button:hover:before, .send-button:focus:before, .send-button:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
a.site-btn { text-decoration: none }

.search-element {
    margin: 0 auto;
    height: 66px;
    width: 736px;
    opacity: 0.95;
    border-radius: 50px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border-width: 0;
}

.search-field {
    padding: 22px 0 22px 32px;
    width: 568px;
    opacity: 0.95;
    border-radius: 50px;
    background-color: #FFFFFF;
    position: relative;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 20px;
    border-width: 0;
}

input::-webkit-input-placeholder {
    color: #232323;
}

input::-moz-placeholder {
    color: #232323;
}

input:-moz-placeholder {
    color: #232323;
}

input:-ms-input-placeholder {
    color: #232323;
}

.search-element button, input {
    border-width: 0;
}

.newtext {
    color: #FFFEFE;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 21px;
    margin: 23px 28px 22px 10px;
    text-align: right;
    position: relative;
    cursor: pointer;
}

.newtext:before {
    content: '\f002';
    font-size: 18px;
    color: #FFFEFE;
    font-family: 'FontAwesome', sans-serif;
    margin-right: 16px;
}

.contactUsBtn {
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    background-color: #007A77;
    right: 28px;
    bottom: 0;
    position: absolute;
    padding: 12px 14px;
}

.contactUsBtn a {
    display: flex;
}

.contactUsBtn img {
    max-height: 28px;
}

.contactUsBtn-text {
    height: 21px;
    color: #FFFEFE;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: right;
    margin-left: 16px;
}

/*############################################################################################################################################################################################################################
Most-downloaded+ recent
############################################################################################################################################################################################################################*/

.most-downloads, .recent-downloads {
    background: #FFF;
    padding: 0 20px;
}

.content-header {
    margin-top: 70px;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
    padding: 0 20px;
}

.content-more {
    margin-bottom: 35px;
    text-align: center;
}

.content-more a:hover {
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in;

}

.content-more a {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 40px;
    border-bottom: 1px solid #232323;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
}

.main-content {
    margin: 0 -5px 17px;
    display: flex;
    justify-content: center;
}

.content-element {
    width: 272px;
    margin: 0 0 0 17px;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
}

.content-element a {
    position: relative;
    display: block;
}

.content-element a:hover {
    opacity: 0.6;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
}

.content-element img,
.content-element iframe {
    max-width: 100%;
    height: auto;
}
.content-element > a > img {
    display: block;
    width: 100%;
}
.item_list_page {
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.board-name {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.board-downloads {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    line-height: 18px;
}

.board {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    bottom: 0;
    width: 100%;
    position: absolute;
    max-width: 100%;
}

.board-info {
    padding: 10px 0 10px 15px;
}

.board-author {
    padding: 13px 15px 15px 0;
}

/*############################################################################################################################################################################################################################
artist block
#################### ########################################################################################################################################################################################################*/
.artistblock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.artistcard {
    margin: 0;
    text-align: center;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
}

.artistcard a:hover {
    opacity: 0.6;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
}

.artistcard img {
    max-width: 100%;
    width: 150px;
    height: 150px;
    margin: 0 auto 24px;
    border-radius: 50%;
}

.artistname {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 7px;
}

.artiststory {
    opacity: 0.5;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

/*############################################################################################################################################################################################################################
footer
############################################################################################################################################################################################################################*/
footer {
    background: url(../images/footer.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 173px;
    margin: 0 auto;
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-bottom: -173px !important;
}

.footer-bar {
    margin: 0 auto;
    max-width: 1180px;
    padding: 20px;
    position: relative;
    text-align: center;
}

.rights {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-top: 14px;
}

.footer-bar .storyboards-logo {
    margin: 0 auto;
}

.pay-panel {
    display: flex;
    margin-right: 25px;

}

.pay-panel img {
    margin-right: 11px;
}

.bottom-panel {
    margin-top: 28px;
    display: flex;
    justify-content: center;
}

.bottom-text {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;

}

.bottom-button {
    margin-top: -10px;
    margin-left: 16px;
    height: 40px;
    width: 144px;
    border-radius: 50px;
    background-color: #007A77;
    min-width: 152px;
    padding: 10px 24px 10px 25px;
}

.button-text {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.navbar-mobile-menu {
    transform: translatex(-100%);
    position: fixed;
    left: 0;
    background: rgba(0, 18, 19, 0.9);
    transition: 400ms;
    height: 100vh;
    overflow: auto;
}

.c-hamburger--htx.active + .navbar-mobile-menu {
    transform: translatex(0);
}

.close-menu {
    display: none;
}

.mobile-button {
    position: relative;
}

.navbar-mobile-menu li, .navbar-mobile-menu {
    width: 100%;
    text-align: center;
    font-size: 35px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 13px;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
}

.navbar-mobile-menu li a {
    display: block;
    width: 100%;
    color: #FFF;
}

.navbar-mobile-menu li:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
}

.mobile-contactus .contact-info {
    color: white;
    display: block;
}

.mobile-contactus {
    background: rgba(0, 18, 19, 0.9);
    border: 3px solid white;
    border-radius: 50px;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
}

/*###############################################################################################################################################
SEARCHRESULT
##################################################################################################################################################*/
.search-nav {
    background: #cdcdcd;
    max-width: 100%;

}

.main-section, .profile {
    padding: 70px 0;
}

.top-search-bar .search-element {
    margin: 0;
    height: 40px;
    width: 462px;
}

.top-search-bar .search-field {
    /*height: 40px;*/
    color: #232323;
    padding: 9px 0 10px 19px;
    width: 100%;
}

.top-search-bar .search-element .search-field {
    width: 100%;
}

.top-search-bar .search-button {
    padding: 9px 16px 10px 17px;
    width: 140px;
    max-width: 140px;
    max-height: 40px;
    min-width: 140px;
}

.top-search-bar .search-button div {
    margin: 0;
}

.top-search-bar {
    padding: 20px 0;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.top-search-bar .bottom-button {
    margin: 0 auto;
    padding: 10px 24px 10px 25px;
}

.top-search-bar .button-text {
    padding: 0;
    font-size: 16px;
    line-height: 19px;
}

.search-option {
    margin: 0 auto;
    display: flex;
    line-height: 40px;
}

.search-help {
    display: flex;
    padding: 0;
}
.search-help a {
    text-decoration: none;
}
.option-element input {
    opacity: 0;
    visibility: hidden;
    width: 0;
}

.option-element label {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
    cursor: pointer;
}

.option-element label:hover {
    opacity: 1;
}

.option-element input:checked + label {
    opacity: 1;
}

.option-element {
    margin-right: 28px;
}

/*.option-element:nth-of-type(2) {*/
    /*margin-right: 0;*/
/*}*/

.top-search-bar .bottom-text {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-right: 15px;
    margin-top: 9px;
}

.navbar.back {
    padding-bottom: 23px;
}

/*------------------------------------------------------------------------------------------------------------
contactus
------------------------------------------------------------------------------------------------------*/
.main-contact {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.contact-adress {
    padding: 0 20px;
}

.contact-adress a {
    color: inherit;
}

.contact-form-header {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 26px;
}

.contact-form {
    
}

.contact-name, .contact-email {
    width: 50%;
}

.contact-name-email {
    display: flex;
}

.contact-name {
    margin: 0 11px 11px 0;
}

.contact-email {
    margin: 0 0 11px 0;
}

.contact-form input, .contact-form textarea {
    border: 1px solid #979797;
    padding: 16px;
    opacity: 0.5;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.contact-message {
    margin-bottom: 25px;
    width: 100%;
}

.message-form {
    width: 100%;
    height: 173px;
}

.send-button {
    border-radius: 50px;
    background-color: #007A77;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 57px;
    border-width: 0;
}

.contact-info {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    padding: 12px 0 13px 0;
    display: flex;
}

.contact-info img {
    margin-right: 18px;
}

.greytext {
    opacity: 0.5;
    color: #2C2C2C;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 0 15px;
}

/*===========================================================================================================================================================================================================================================================================
BLOG
===========================================================================================================================================================================================================================================================================*/
.page-blog {
    width: 75%;
    padding: 0 20px;
}

.blog-main-page {
    display: flex;
}

.blog-element img {
    max-width: 100%;
    height: auto;
}

.blog-element {
    margin-bottom: 50px;
}

.blog-info {
    display: flex;
    justify-content: space-between;
    max-width: 270px;
    margin: 25px 0 20px 0;
    padding-left: 20px;
}

.blog-data, .blog-author {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    min-width: 143px;
}

.blog-header {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    padding-left: 20px;
}

.blog-preview {
    margin: 30px 0;
}

.blog-info img {
    margin-right: 10px;
}

.blog-element .bottom-button {
    width: 161px;
    max-width: 161px;
    min-width: 161px;
}

.right-contact {
    padding-left: 66px;
}

.contact-button {
    padding: 5px 20px 6px 19px;
}

.get-in-touch {
    background: url(../images/svg/get-in-touch.png) no-repeat center center;
    width: 216px;
    margin: 0 auto;
    padding: 30px;
}

.bottom-button.contact-button {
    margin: 0;
    height: auto;
    width: auto;
    border: 2px solid #FFF;
}

.contact-button .bottom-text {
    margin: 0;
    font-size: 18px;
}

.get-in-touch p:nth-of-type(1) {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 11px;
}

.get-in-touch p:nth-of-type(2) {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    margin: 0 10px 97px 10px;
}

/*============================================================================================================================================*/
.bloger {
    width: auto;
    padding-left: 30px;
}

.articles-blog {
    margin-bottom: 120px;
}

.recent-articles-header {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 24px;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 34px;
}

.right-contact ul li {
    list-style: circle;
    font-size: 30px;
    color: #979797;
}

.right-contact li a {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 24px;
}

.right-contact ul {
    margin-left: 30px;
}

.recent-articles img {
    max-width: 85px;
    max-height: 53px;
    margin-right: 26px;
}

.recent-articles a {
    display: flex;
    margin-bottom: 30px;
}

.recent-articles a:hover .greytext {
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    opacity: 1;
}

.recent-articles .greytext {
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
}

.articlesUl li a {
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
}

.articlesUl li a:hover {
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    opacity: 0.5;

}

/*====================================================================================
====================================================================================
aboutartist
====================================================================================
====================================================================================*/
.artist-profile {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.artist-photo img {
    max-width: 340px;
}

.artist-info {
    max-width: 60%;
    padding: 20px;
}

.artist-about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
}

.about {
    opacity: 0.5;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.social svg {
    margin-left: 20px;
    max-height: 20px;
}

.social a:hover svg {
    fill: #007A77;

}

.social svg {
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
}

.profile-name {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 10px;
}

.storyboards-quantity {
    opacity: 0.5;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
}

.about-profile {
    opacity: 0.5;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

/*============================================================================================================
=============================================================================================================
storyboard
=============================================================================================================
=============================================================================================================*/
.storyboard-container {
    display: flex;
    justify-content: space-between;
}

.story-left {
    max-width: 500px;
    margin: 0 auto;

}

.story-right {
    padding: 20px;
    max-width: 50%;
}

.story-title {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 14px;
}

.story-author {
    display: flex;
    margin: 19px 0 30px;
}

.author-img img {
    max-width: 58px;
    margin-right: 12px;
}

.author-name {
    color: #2C2C2C;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 58px;
    text-align: center;
    margin-left: 6px;
}

.story-right .select {
    display: flex;
    margin-bottom: 40px;
    margin-left: 16px;
}

.story-right input {
    -webkit-appearance: radio;
    opacity: 0;
}

.selectOption {
    display: flex;
}

.story-right label {
    opacity: 0.5;
    width: 100%;
}

input[type=radio]:checked + label {
    opacity: 1;
}

.radio-button + label {
    cursor: pointer;
}

.radio-button:not(checked) {
    position: absolute;
    opacity: 0;
}

.radio-button:not(checked) + label {
    position: relative;
    padding: 0 0 0 30px;
}

.radio-button:not(checked) + label:before {
    position: absolute;
    content: '';
    top: -3px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #979797;
    border-radius: 50%;
    background: #FFF;
}

.radio-button:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #007A77;
    opacity: 0;
    transition: all .2s;
}

.radio-button:checked + label:after {
    opacity: 1;
}

.file-type {
    width: 29px;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 21px;
    margin-left: 30px;
}

.file-option {
    width: 81px;
    color: #959595;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 11px;
    text-transform: uppercase;
    margin: 6px 0 0 10px;
}

.file-size {
    width: 63px;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 21px;
    margin-left: 54px;
}

.file-price {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 42px;
    margin-left: 51px;
    margin-top: -10px;
}

.story-buttons {
    margin-top: 76px;
}

.story-buttons .send-button {
    padding: 15px 35px 15px 31px;
    margin-right: 30px;
}

.story-buttons .send-button:disabled {
    opacity: 0.8;
    cursor: default;
}

#slider {
    width: 444px;
    height: 327px;
    margin: 0 auto 10px;
    overflow: hidden;
    cursor: pointer;
}

#slider li img {
    max-width: 100%;
}

#slider ul {
    overflow: hidden;
    *zoom: 1;
    margin: 0;
    padding: 0;
}

#slider ul li {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    float: left;
    width: 444px;
    height: 327px;
    line-height: 444px;
    list-style-type: none;
}

#slider a {
    display: block;
    position: absolute;
    color: #dcb039;
    font-size: 2em;
    top: 67%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: -15px;
    text-decoration: none;
}

#slider a#sliderPrev {
    left: 44px;
}

#slider a#sliderNext {
    right: 44px;
}

#slider a:hover {
    color: #333333;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
}

#pager {
    text-align: center;
}

#pager a {
    margin: 27px 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

#pager a:hover, #pager a.active {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
}

#pager a.active {
    display: none;
}

#slider a.tickets {
    font: 400 2em 'Chathura', sans-serif;
    color: #fff;
    text-transform: uppercase;
    background-color: #dcb039;
    padding: 0 0.4em;
    width: 200px;
}

.c-hamburger {
    display: block;
    overflow: hidden;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 21px;
    left: 0;
    right: 0;
    height: 8px;
    background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #fff;
    content: '';
}

.c-hamburger span::before {
    top: -20px;
}

.c-hamburger span::after {
    bottom: -20px;
}

.c-hamburger--htx {
    background: transparent;
}

.c-hamburger--htx span {
    transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}

.c-hamburger--htx.active span {
    background: none;
}

.c-hamburger--htx.active span::before {
    top: 0;
    transform: rotate(45deg);
}

.c-hamburger--htx.active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.c-hamburger--htx.active span::before,
.c-hamburger--htx.active span::after {
    transition-delay: 0s, 0.3s;
}

.fixed {
    position: fixed;
}

.story-id {
    color: #2C2C2C;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.story-tag {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.story-tag a {
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #979797;
    border-radius: 8px;
    padding: 5px 15px;
    margin: 0 4px 9px;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    transition: 0.3s ease-in;

}

.story-tag-option {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.story-tag .show-more-option:hover {
    background: #FFF;
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in;

}

.show-more-option {
    width: 110px;
    text-align: right;

}

.show-more-option {
    padding: 0;
    border: 0;
    border-radius: 0;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 37px;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
    border-bottom: 1px solid #232323;
    height: 26px;
    width: 74px;
    cursor: pointer;
    margin-left: 35px;
}

.popup_overlay {
    display: none;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.popup {
    display: none;
    width: 700px;
    height: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -350px;
    z-index: 100;
}

.closer {
    float: right;
    cursor: pointer;
    margin-top: -21px;
}

.story-tag a:hover {
    background: #000;

    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    transition: 0.3s ease-in;

}

.story-tag a:hover .story-tag-option {
    color: #fff;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.newslider {
    margin: 0 0 20px 0;
}

.slider-nav {
    margin-bottom: 10px;
    padding: 0 46px 0 54px;
}

.slick-list.draggable {
    padding: 0;
}

.slider-nav .slick-slide {
    margin: 0 14px;
    width: 106px !important;
}

.popup .slider-nav .slick-slide {
    margin: 0 11px;
    width: 178px;
    height: 131px;
}

.popup .slider-nav .slick-slide {
    width: 178px !important;
    height: 131px !important;
}

.popup .slider-nav .slick-slide img {
    width: 178px !important;
}

.popup .newslider .slick-slide img {
    width: 750px !important;
}

.slick-slide img {
    max-width: 100%;
}

.slick-track {
    width: 5000px !important;

}

.slider-nav .slick-active {
    width: 106px !important;
}

.slick-slide {
    cursor: pointer;
}

.story-tag-hidden {
    display: none;
}

.story-tag-hidden.active {
    display: flex;
    flex-wrap: wrap;
}

.show-more-option {
    display: none;
}

.show-more-option.active {
    display: block;
}

.newartist .artistcard {
    margin: 30px;
}

#hellopreloader > p {
    display: none;
}

#hellopreloader_preload {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background: url(../images/Spinner.gif) center center no-repeat;
    background-size: 100px;
}

.popup .video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.popup .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*---------- header ----------*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    padding: 20px 10px;
}

.header_main {
    position: absolute;
    width: 100%;
}

.header_back {
    position: relative;
    background: #001213;
}
/*---------- /header ---------*/

/*---------- menu ----------*/
.menu-btn {
    position: relative;
    z-index: 1;
    width: 32px;
    height: 28px;
    cursor: pointer;
}
.menu-btn span {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    margin-top: -2px;
    background-color: #fff;
    transition: opacity .3s ease-in-out;
}
.menu-btn:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #fff;
    content: '';
    transition: all .3s ease-in-out;
}
.menu-btn:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #fff;
    content: '';
    transition: all .3s ease-in-out;
}
.menu-open .menu-btn:before {
    top: 12px;
    transform: rotate(45deg);
}
.menu-open .menu-btn:after {
    bottom: 12px;
    transform: rotate(-45deg);
}
.menu-open .menu-btn span {
    opacity: 0;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 80px 10px;
    background: rgba(0, 18, 19, 0.9);
    transform: translate(-100%,0);
    transition: transform .3s ease-in-out;
}
.menu-open .menu {
    transform: translate(0);
}
.menu__links {
    width: 100%;
}
.menu__links a {
    display: block;
    text-align: center;
    font-size: 5vh;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 2vh 0;
    color: #fff;
}
/*---------- /menu ---------*/

/*---------- cart ----------*/
.cart {
    display: block;
}
.cart img {
    display: block;
    height: 32px;
    width: 32px;
}
/*---------- /cart ---------*/

/*---------- entrance ----------*/
.entrance {
    width: 100%;
    padding: 2vh 0;
    text-align: center;
}

.entrance__link,
a.entrance__link {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    margin: 0 10px;
    font-weight: 500;
    text-decoration: none;
}
.entrance .site-btn {
    margin: 0;
    display: inline-block;
}
/*---------- /entrance ---------*/

/*---------- footer-menu ----------*/
.footer-menu {
    text-align: center;
}
.footer-menu__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 5px;
}

.footer-menu__wrap a {
    font-size: 15px;
    margin: 0 10px 15px;
    z-index: 99;
    text-align: center;
    border-bottom: none;
    color: #FFF;
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
}

.footer-menu__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*---------- /footer-menu ---------*/

@media (min-width: 1200px) {
    /*---------- menu ----------*/
    .menu-btn { display: none }
    .menu {
        transform: translate(0,0);
        background: none;
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .menu__links {
        display: flex;
        align-items: center;
        width: auto;
    }

    .menu__links a {
        position: relative;
        margin-right: 26px;
        padding: 0;
        font-size: 16px;
    }
    .menu__links a:before {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: #fff;
        content: '';
        transition: all .3s ease-in-out;
    }
    .menu__links a:hover:before {
        width: 100%;
        left: 0;
    }
    /*---------- /menu ---------*/

    /*---------- header ----------*/
    .header {
        padding: 23px calc(50% - 570px);
    }
    .header__wrap {
        display: flex;
        align-items: center;
    }
    /*---------- /header ---------*/

    /*---------- entrance ----------*/
    .entrance {
        display: flex;
        align-items: center;
        width: auto;
        margin-right: 26px;
        padding: 0;
    }
    .entrance__link,
    a.entrance__link {
        position: relative;
        margin: 0 26px 0 0;
    }
    a.entrance__link:before {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: #fff;
        content: '';
        transition: all .3s ease-in-out;
    }
    a.entrance__link:hover:before {
        width: 100%;
        left: 0;
    }
    /*---------- /entrance ---------*/
    /*---------- cart ----------*/
    .cart {

    }
    /*---------- /cart ---------*/
}